'.source.js':
  'ngController':
    'prefix': 'ngcontroller'
    'body': """
      'use strict';

      /**
        * @ngdoc controller
        * @name cybersponse.controller:${2:Controller}
        *
        * @description
        * The `${2:Controller}` controller description.
        *
      **/
      (function() {
        angular
          .module('${1:module}')
          .controller('${2:Controller}', ${2:Controller});

        ${2:Controller}.$inject = ['${3:dependencies}'];

        function ${2:Controller}(${3:dependencies}) {
          init();

          /**
           * @ngdoc method
           * @name cybersponse.controller:${2:Controller}#init
           * @methodOf cybersponse.controller:${2:Controller}
           *
           * @description
           * Loads the initial pagedCollection.
           **/
          function init() {

          }
        }
      })();
    """
